*{
  text-align: center;
}
  
.ads{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.ads > .link {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
}

.ads > .link:hover {
  background-color: lightgray;
}

  